@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    font-family: "Roboto";
    color: white;
    overflow-x: hidden;
    padding: 30px;
    background: radial-gradient(circle at right, #ff8c00fa -91%, #010a10 63%, #b7d8f0 204%);
    
}



.app-container {
    text-align: center;
    
}
.icon{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 8px;

}
/* Header */
.header h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Main Weather Info */
.weather-info {
    margin-bottom: 20px;
}

.weather-info img {
    width: 100px;
    height: 100px;
}

.weather-info h2 {
    font-size: 3em;
    margin: 10px 0;
}

.weather-description {
    font-size: 1.2em;
    color: #d3d3d3;
}

/* Details Section */
.details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail .icon {
    font-size: 1.5em;
    margin-bottom: 5px;
}

/* Hourly Forecast Section */
.hourly-forecast {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    scrollbar-width: none;

    gap: 10px;
}

.hour-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    color: white;
}

.hour-card img {
    width: 40px;
    height: 40px;
}

.hour-card p {
    margin: 5px 0 0;
}
.icon-humedad{
    height: 15px;
    width: 15px;
}
.icon-lluvia{
    height: 18px;
    width: 18px;
}
.pronostico-hora{
    width: 100%;
}
.pronostico-hora h2{
    font-size: 10px;
}
.tit-hora{
    display: flex;
    margin-bottom: 12px;
    
}

.tit-hora img {
    height: 18px;
    width: 18px;
    margin-right: 3px;
}


.tit-hora h2{
    font-size: 14px;
    font-weight: 300;
}
.probLluviaHora{
    display: flex;
    flex-direction: row;
    font-weight: 100;
    color: #aba7a7;
}
.probLluviaHora img{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 13px;
    
}
.time{
    font-weight: 100;
}
.viento-data{
    margin-right: -17px;

}