@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background: #c0c0aa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1cefff, #0b0b0b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5caeda, #256366); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100vh;
    font-family:"roboto";
    color: rgb(255, 255, 255);

}

p{
    font-size: 60px;
}
.texto-clima{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    font-weight: 100;
    padding-top: 14%;
}

.texto-clima .grados{
    font-size: 150px;
    font-weight: 300;
    
    margin-bottom: 100px;
}
.texto-clima ul li img{
    width: 500px;
}
#ubicacion{
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 50px;
}
.pais{
    
    text-align: start;
    
}
.clima-sec{
    display: flex;
    justify-content: space-around;
    
    
    padding: 20px;

}
.clima-sec .section{
   
    color: #ffffff;
    border-radius: 20px;
    background-color: #ffffff03;
    padding: 36px;
    font-weight: 250;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid 3px;
}

#vientos{
    justify-self: end;
   
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0px;
}
.sec2{
    justify-content: center;
    gap:20px;
}